<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<!--
 Golang + Gin code autor: Vitalii Michailovich
 Email: vitaliy.michailovich@gmail.com
 Github:
 Template: http://www.styleshout.com/
-->

<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>bash-j7</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="../client/css/base.css">
   <link rel="stylesheet" href="../client/css/main.css">
   <link rel="stylesheet" href="../client/css/vendor.css">

   <!-- script
   ================================================== -->
	<script src="../client/js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="../client/favicon.png">

</head>

<body id="top">

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="shadow-overlay"></div>

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>{{ .quote }}</h5>

	   			<a class="button stroke" href="javascript:history.go(0)">Refresh</a>
	   		</div>  
   			
   		</div>   		 		
   	</div> 
 	

   </section> <!-- /intro -->



   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="../client/js/jquery-1.11.3.min.js"></script>
   <script src="../client/js/jquery-migrate-1.2.1.min.js"></script>
   <script src="../client/js/plugins.js"></script>
   <script src="../client/js/main.js"></script>

</body>

</html>